
<main class="form-signin w-100 m-auto">
    <form action="/Home/SignIn" method="post" class="my-5">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating mb-2">
            <input type="text" class="form-control" id="nickName" name="nickName" placeholder="Nick Name">
            <label for="floatingInput">Nick Name</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
</main>

